body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/img/musique.png);
    background-size: cover;
    color : white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.grey-box{
    background-color : rgba(128, 128, 128, 0.5);
    color : white;
    padding : 10px;
}

a
{
    color : white;
}

a:focus
{
    color : red;
}

a:hover
{
    color : orangered;
}

.portfolio-item {
    margin-bottom: 25px;
    width : 30%;
    height : auto;
}

.portfolio-item img{
    height : 100%;
    width : 100%;
}


.pagination > .active > a
{
    cursor : auto;
    color : black;
    background : white;
    border-color : rgb(255, 106, 0);
}

.pagination > .active > a:hover
{
    cursor : auto;
    color : white;
    background : rgb(128,128,128);
}


.pagination > li > a
{
    color : black;
    background : white;
    border-color : rgb(255, 106, 0);
}

.pagination > li > a:hover
{
    color : white;
    background : rgb(128,128,128);
}