App/**
!App/Diiezer2.0/App_Start/**
!App/Diiezer2.0/Content/**
!App/Diiezer2.0/Controllers/**
!App/Diiezer2.0/fonts/**
!App/Diiezer2.0/Models/**
!App/Diiezer2.0/Properties/**
!App/Diiezer2.0/Scripts/**
!App/Diiezer2.0/Views/**
!App/Diiezer2.0.sln