App/.vs/**
App/packages/**
App/Diiezer2.0/App_Data/**
App/Diiezer2.0/bin/**
App/Diiezer2.0/obj/**
App/Diiezer2.0/Diiezer2.0.csproj
App/Diiezer2.0/Content/song/**
App/packages/**

#Modèle
App/Diiezer2.0/Models/Achat.cs
App/Diiezer2.0/Models/Album.cs
App/Diiezer2.0/Models/Artiste.cs
App/Diiezer2.0/Models/Chanson.cs
App/Diiezer2.0/Models/Commentaire.cs
App/Diiezer2.0/Models/Genre.cs
App/Diiezer2.0/Models/IdentityModels.cs
App/Diiezer2.0/Models/*.tt
App/Diiezer2.0/Models/Model1.cs
App/Diiezer2.0/Models/Model1.Designer.cs
App/Diiezer2.0/Models/Model1.edmx
App/Diiezer2.0/Models/Model1.edmx.diagram
App/Diiezer2.0/Models/Model1.edmx.sql
App/Diiezer2.0/Models/Note.cs
App/Diiezer2.0/Models/ManageViewModels.cs
App/Diiezer2.0/Models/Model1.Context.cs
