
@{ 
    ViewBag.Title = "Accueil";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img id="intro1" src="~/Content/img/bienvenu2.png" class="img-responsive" style="opacity:0"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img id="intro2" src="~/Content/img/Achetez2.png" class="img-responsive" style="opacity:0" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img id="intro3" src="~/Content/img/Notez2.png" class="img-responsive" style="opacity:0" />
        </div>
    </div>
</div>

<div class="row">
    <audio src="/content/song/musique/27.mp3" controls autoplay loop class="hidden"></audio>

</div>