@model IEnumerable<Diiezer2._0.Models.Album>

<h2>Bienvenue sur Diiezer! un site qui vous permet de noter des musiques, d'écouter des extraits, d'acheter celles qui vous plaisent et qui vous permet d'écouter toutes les musiques que vous avez achetées complètes!</h2>

