@model IEnumerable<Diiezer2._0.Models.Album>

<h2>Bienvenue sur Diiezer! </h2>

<h4>Ce site vous permet de noter des musiques, d'écouter des extraits, d'acheter celles vous plaisent et vous permet même d'écouter toutes les musiques que vous avez achetées complètes!</h4>


