@model Diiezer2._0.Models.vmResearchResult

@{
    ViewBag.Title = "Les Meilleurs notes";
}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <hr />
            <h3>Les 3 Meilleurs Albums : </h3>
            <hr />
        </div>
    </div>
</div>

<div class="container red-box">
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("../Album/IndexPartial", Model.albums);
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <hr />
            <h3>Les 10 Meilleurs Chansons : </h3>
            <hr />
        </div>
    </div>
</div>

    
<div class="container red-box">
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("../Chanson/IndexPartial", Model.chansons);
            }
        </div>
    </div>
</div>

<a id="lienNote" href="/../Note/Noter" data-ajax-update="#note1" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>
