@model Diiezer2._0.Models.vmResearchResult

@{
    ViewBag.Title = "Les Meilleurs notes";
}

<div class="container grey-box">
    <div class="row">
        <div class="col-md-12">
            <h3>Les 3 Meilleurs Albums : </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("../Album/IndexPartial", Model.albums);
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Les 10 Meilleurs Chansons : </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("../Chanson/IndexPartial", Model.chansons);
            }
        </div>
    </div>
</div>

