@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

<div class="grey-box container">
    <div class="row">
       <h3>Les musiques qui ont étées le mieux notées jusqu'à aujourd'hui : </h3>
    </div>
    <div class="row">
    </div>
    <div class="row">

    </div>


</div>

