@model Diiezer2._0.Models.vmAlbumInformation



<!-- Test **************************** -->
<div class="container">
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <span class="left" id="npAction">Paused...</span>
                <span class="right" id="npTitle"></span>
            </div>
            <div id="audiowrap" >
                <div id="audio0">
                    <audio preload id="audio1" controls="controls" class="long-audio">Your browser does not support HTML5 Audio!</audio>
                </div>
                <div id="tracks">
                    <a id="btnPrev">&laquo;</a>
                    <a id="btnNext">&raquo;</a>
                </div>
            </div>
            <div id="plwrap">
                <ul id="plList" style="padding-left : 0px" class="list-unstyled">
                    @{
                        int compteur = 0;
                        foreach (var item in Model.chansons)
                        {
                            compteur++;
                            <li>
                                
                                <div class="plItem row">
                                    <div class="plNum col-xs-1 col-sm-1 col-md-1">@compteur</div>
                                    <div class="plTitle col-xs-6 col-sm-6 col-md-7">@item.titre</div>                                   
                                    <div class="plStar col-xs-3 col-sm-3 col-md-2">
                                        <div class="row">
                                            <div class="col-md-8">
                                                @{
                                                    string idnote = "note" + item.idChanson;
                                                    <div id=@idnote>
                                                        @{
                                                            Html.RenderAction("partialNote", "Note", new { idChanson = item.idChanson, note = item.note });
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="plLength col-xs-2 col-sm-2 col-md-2">
                                        @{var duree = (Model.chansons.ElementAt(compteur - 1).durée / 60).ToString() + " min " + (Model.chansons.ElementAt(compteur - 1).durée % 60).ToString();
                                        }
                                        @duree
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    
                </ul>
                @Html.Hidden("toto", @Model.toto)
            </div>
        </div>
    </div>
</div>



