@model Diiezer2._0.Models.vmAlbumInformation

<!-- Test **************************** -->
<div class="container container-audio">
    <div class="column center">
        <h1>HTML5 Audio Player</h1>
    </div>
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <span class="left" id="npAction">Paused...</span>
                <span class="right" id="npTitle"></span>
            </div>
            <div id="audiowrap" >
                <div id="audio0">
                    <audio preload id="audio1" controls="controls" class="long-audio">Your browser does not support HTML5 Audio!</audio>
                </div>
                <div id="tracks">
                    <a id="btnPrev">&laquo;</a>
                    <a id="btnNext">&raquo;</a>
                </div>
            </div>
            <div id="plwrap">
                <ul id="plList" style="padding-left : 0px" class="list-unstyled">
                    @{
                        int compteur = 0;
                        foreach (var item in Model.chansons)
                        {
                            compteur++;
                            <li>
                                
                                <div class="plItem row">
                                    <div class="plNum col-md-1">@compteur</div>
                                    <div class="plTitle col-md-7">@item.titre</div>                                   
                                    <div class="plStar col-md-2">
                                        <!--Test************************-->
                                        @{
                                            if (Request.IsAuthenticated)
                                            {
                                                int j;
                                                for (int i = 0; i < 5; i++)
                                                {
                                                    j = i + 1;
                                                    if (i < item.note)
                                                    {
                                                        <a href="../../Note/Noter?idMusique=@item.idChanson&&note=@j&&url=../Album/Details/@item.idAlbum">
                                                            <img src="~/Content/img/fullstar2.png" style="width:10%;height:auto;">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="../../Note/Noter?idMusique=@item.idChanson&&note=@j&&url=../Album/Details/@item.idAlbum">
                                                            <img src="~/Content/img/emptystar2.png" style="width:10%;height:auto;">
                                                        </a>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < item.note)
                                                    {
                                                        <img src="~/Content/img/FullStar2.png" style="width:10%;height:auto;">
                                                    }
                                                    else
                                                    {

                                                        <img src="~/Content/img/EmptyStar2.png" style="width:10%;height:auto;">
                                                    }
                                                }
                                            }
                                        }
                                        
                                        <!--Test************************-->
                                    </div>
                                    <div class="plLength col-xs-2 col-md-2">
                                        @{var duree = (Model.chansons.ElementAt(compteur - 1).durée / 60).ToString() + " min " + (Model.chansons.ElementAt(compteur - 1).durée % 60).ToString();
                                        }
                                        @duree
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    
                </ul>
                @Html.Hidden("toto", @Model.toto)
            </div>
        </div>
    </div>
</div>
<!-- Test **************************** -->


