@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "Chansons";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Tous les titres</h2>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <select name="select" id="select" onchange="select()" class="form-control" style="margin-top:20px">
                <option value="default">Trier par...</option>
                <option value="titre">Titre</option>
                <option value="note">Note</option>
                <option value="duree">Durée</option>
                <option value="album">Album</option>
                <option value="artiste">Artiste</option>
                <option value="prix">Prix</option>
            </select>
            
        </div>
        <div class="col-md-2">
            <a id="lien" href="/Chanson" data-ajax-update="#indexpartiel" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>
        </div>
    </div>

    <div id="indexpartiel">
            @{
                Html.RenderAction("IndexPartial", new { model = Model });
            }
    </div>

<a id="lienNote" href="/../Note/Noter" data-ajax-update="#note1" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>

</div>
    <script type="text/javascript">
        function select() {
            $('#lien').attr('href', '/Chanson?tri=' + document.getElementById('select').value);
            $('#lien').click();
        }
        function noter(idC, note) {
            var idnote = 'note' + idC;
            $('#lienNote').attr('href', '/../Note/Noter?idMusique=' + idC + '&&note=' + note);
            $('#lienNote').attr('data-ajax-update', '#'+idnote);
            alert('Merci d\'avoir voté !');
            $('#lienNote').click();
        }
    </script>