
@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "IndexPartial";
}

<div class="container">
    <table class="table table-bordered border0 table-striped table-responsive">
        <tr>
            <th>
                Titre
            </th>
            <th>
                Durée
            </th>
            <th>
                Artiste
            </th>
            <th>
                Album
            </th>
            <th>
                Note
            </th>
            <th>
                Prix
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Chanson/Details/@item.idChanson">@item.titre</a>
                </td>
                <td>
                    @{ var duree = (item.durée / 60).ToString() + " min " + (item.durée % 60).ToString();}
                    @duree
                </td>
                <td>
                    @Html.ActionLink(item.artiste, "../Artiste/Details", new { id = item.idArtiste })
                </td>
                <td>
                    @Html.ActionLink(item.album, "../Album/Details", new { id = item.idAlbum })
                </td>
                <td class="small-td">
                    @{
                        string idnote = "note" + item.idChanson;
                        <div id=@idnote>
                            @{
                                Html.RenderAction("partialNote", "Note", new { idChanson = item.idChanson, note = item.note });
                            }
                        </div>
                    }
                </td>
                <td class="small-td" >
                    @{ var idBtnPanier = "idBtnPanier" + item.idChanson;}
                    <div id=@idBtnPanier>
                        @{
                            if (item.isInPanier)
                            {
                                Html.RenderPartial("../Chanson/partialDejaPanier");
                            }
                            else if (item.isExtract)
                            {
                                Html.RenderAction("partialBtnAcheter", "Chanson", new { vm = item });
                            }
                            else
                            {
                                <a href=@item.musique download>
                                    <img src="~/Content/img/download.png" class="img-responsive btn-dl">
                                </a>
                            }
                        }
                    </div>
                </td>

            </tr>
                        }
    </table>
</div>

<a id="ajouterPanier" href="/../Note/Noter" data-ajax-update="#note1" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>
