@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "Index";
}


<h2>Page @ViewBag.page</h2>
@{ 
    Html.RenderPartial("IndexPartial", Model);
}



<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="/Chanson/Index/@ViewBag.precedente">&laquo;</a>  
            </li>
            @for (int i = 1; i <= ViewBag.nbPage; i++)
            {
                <li class="active">
                    <a href="/Chanson/Index/@i">@i</a>
                </li>
            }        

            <li>
                <a href="/Chanson/Index/@ViewBag.suivante">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->