@model IEnumerable<Diiezer2._0.Models.vmChansonInformation>

@{
    ViewBag.Title = "Index";
}

<div class="grey-box2">
    <div class="row">
        <div class="col-md-2">
            <h2>Page @ViewBag.page</h2>
        </div>
        <div class="col-md-1">
            <p>trier par</p>
        </div>
        <div class="col-md-3">
            <select name="select" id="select">
                <option value="note">Note</option>
                <option value="duree">Durée</option>
            </select>
            <input id="tri" type="hidden" />
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    @*<div id="indexpartiel">
        @{
            Html.RenderAction("IndexPartial", new { model = Model });
        }
    </div>
    @Ajax.ActionLink("Actualiser", "IndexPartial", new { model = Model }, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "indexpartiel",
        HttpMethod = "GET"
    })*@
    <div id="indexpartiel">
            @{
                Html.RenderAction("IndexPartial", new {model = Model });
            }
    </div>
        @Ajax.ActionLink("Actualiser", "IndexPartial", new { tri = "note", model=Model }, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "indexpartiel",
            HttpMethod = "GET"
        })


    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="/Chanson/Index/@ViewBag.precedente">&laquo;</a>
                </li>
                @for (int i = 1; i <= ViewBag.nbPage; i++)
            {
                    <li class="active">
                        <a href="/Chanson/Index/?id=@i&&tri=@ViewBag.Tri">@i</a>
                    </li>
                }

                <li>
                    <a href="/Chanson/Index/@ViewBag.suivante">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
