<div class="grey-box">
    <!--<form class="form-horizontal" name="form1" method="post">-->
    @using (Html.BeginForm("Search", "Research", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Artiste</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="artiste">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Genre</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="Genre">
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Album</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="album">
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Titre</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="titre">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-2 col-lg-2 col-xl-2 control-label">Note supérieure à </label>
            <div class="col-xs-10 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <select class="form-control" name="note">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Select" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Rechercher des</label>
            <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <select class="form-control" name="but">
                    <option value="SearchAll">Tous</option>
                    <option value="SearchArtists">Artistes</option>
                    <option value="SearchAlbums">Albums</option>
                    <option value="SearchTitres">Titres</option>
                </select>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-6 col-l0-6 col-xl-6">
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!--<input type="button" class="btn btn-default" onclick="document.form1.action = '/Research/Search'; document.form1.submit();" value="Rechercher" />-->
                <input type="submit" class="btn btn-default" value="Rechercher" id="envoyer" />
            </div>
        </div>
    }


    <!--</form>-->
</div>