<div class="grey-box">
    <form class="form-horizontal" name="form1" method="post">
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Artiste</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="artiste">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Genre</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="Genre">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-2 col-lg-2 col-xl-2 control-label">Durée supérieure à</label>
            <div class="col-xs-10 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <input type="number" class="form-control" name="duree">
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Album</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="album">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-4 control-label">Nombre de chansons dans l'Album supérieur à</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="number" class="form-control" name="NbChansons">
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Titre</label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" name="titre">
            </div>
            <label for="Text" class="col-xs-10 col-sm-6 col-md-2 col-lg-2 col-xl-2 control-label">Note supérieure à </label>
            <div class="col-xs-10 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <select class="form-control" name="note">
                    <option value="note0">0</option>
                    <option value="note1">1</option>
                    <option value="note2">2</option>
                    <option value="note3">3</option>
                    <option value="note4">4</option>
                    <option value="note5">5</option>                 
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Select" class="col-xs-10 col-sm-6 col-md-1 col-lg-1 col-xl-1 control-label">Rechercher des</label>
            <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <select class="form-control" name="but">
                    <option value="SearchArtiste">Artistes</option>
                    <option value="SearchAlbum">Albums</option>
                    <option value="SearchTitre">Titres</option>
                </select>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-6 col-l0-6 col-xl-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Rechercher uniquement les musiques possédées
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" class="btn btn-default" onclick="document.form1.action = '/Research/Search'; document.form1.submit();" value="Rechercher" />
            </div>
        </div>
    </form>
</div>