@model Diiezer2._0.Models.vmResearchResult

<h4>Résultats de la recherche</h4>

@{
    if ((ViewBag.but.CompareTo("SearchArtists") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.artistes != null) && (Model.artistes.Count > 0))
        {
            <hr />
            <h2>Artistes</h2>
            <hr />
            Html.RenderPartial("../Artiste/IndexPartial", Model.artistes);
            <hr />
        }
    }



    if ((ViewBag.but.CompareTo("SearchAlbums") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.albums != null) && (Model.albums.Count > 0))
        {
            <h2>Albums</h2>
            <hr />
            Html.RenderPartial("../Album/IndexPartial", Model.albums);
            <hr />
        }
    }



    if ((ViewBag.but.CompareTo("SearchTitres") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.chansons != null) && (Model.chansons.Count > 0))
        {
            <div class="row">
                <div class="col-md-4">
                    <h2>Chansons</h2>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <select name="select" id="select" onchange="select()" class="form-control" style="margin-top:20px">
                        <option value="default">Trier par...</option>
                        <option value="titre">Titre</option>
                        <option value="note">Note</option>
                        <option value="duree">Durée</option>
                        <option value="album">Album</option>
                        <option value="artiste">Artiste</option>
                        <option value="prix">Prix</option>
                    </select>

                </div>
                <div class="col-md-2">
                    <a id="lien" href="/Research/Search" data-ajax-update="#indexpartiel" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>
                </div>
            </div>
            <hr />
            <div id="indexpartiel">
                @{
                    Html.RenderPartial("../Chanson/IndexPartial", Model.chansons);
                }
            </div>
            <hr />
        }
    }

    if ((Model.albums == null || Model.albums.Count < 1) &&
        (Model.chansons == null || Model.chansons.Count < 1) &&
        (Model.artistes == null || Model.artistes.Count < 1))
    {
        <p>
            Malheureusement, en tant que humble moteur de recherche je ne suis point très versé dans l'art abstrait.
            Votre recherche n'a rien donné, veuillez être plus explicite.
        </p>
    }
}
<script type="text/javascript">
    function select()
    {
        if ('@(ViewBag.type)' == 'quick')
        {
            $('#lien').attr('href', '/Research/QuickSearch?tri=' + document.getElementById('select').value);
        }
        if ('@(ViewBag.type)' == 'long')
        {
            $('#lien').attr('href', '/Research/Search?tri=' + document.getElementById('select').value);
        }
        $('#lien').click();
    }
</script>