@model Diiezer2._0.Models.vmResearchResult

<h4>Résultats de la recherche</h4>

@{
    if ((ViewBag.but.CompareTo("SearchArtists") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.artistes != null) && (Model.artistes.Count > 0))
        {
            <hr />
            <h2>Artistes</h2>
            <hr />
            Html.RenderPartial("../Artiste/IndexPartial", Model.artistes);
            <hr />
        }
    }



    if ((ViewBag.but.CompareTo("SearchAlbums") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.albums != null) && (Model.albums.Count > 0))
        {
            <h2>Albums</h2>
            <hr />
            Html.RenderPartial("../Album/IndexPartial", Model.albums);
            <hr />
        }
    }



    if ((ViewBag.but.CompareTo("SearchTitres") == 0) || (ViewBag.but.CompareTo("SearchAll") == 0))
    {
        if ((Model.chansons != null) && (Model.chansons.Count > 0))
        {
            <h2>Chansons</h2>
            <hr />
            Html.RenderPartial("../Chanson/IndexPartial", Model.chansons);
            <hr />
        }
    }

    if ((Model.albums == null || Model.albums.Count < 1) &&
        (Model.chansons == null || Model.chansons.Count < 1) &&
        (Model.artistes == null || Model.artistes.Count < 1))
    {
        <p>
            Malheureusement, en tant que humble moteur de recherche je ne suis point très versé dans l'art abstrait.
            Votre recherche n'a rien donné, veuillez être plus explicite.
        </p>
    }
}
