@model IEnumerable< Diiezer2._0.Models.Achat>

@{
    ViewBag.Title = "Mes Achats";
}


<div class="container">
        <h4>Achat</h4>
        <hr />
    <table class="table table-bordered border0 red-striped">
        @{
            string idString = "";
            int compteur = 0;

            foreach (var item in Model)
            {
                compteur++;
                idString = "divAudio" + compteur;
                <tr>
                    <td>
                        <h5><a href="/Chanson/Details/@item.Chanson1.Id">@item.Chanson1.Titre</a> </h5>
                    </td>
                    <td>
                        <h5><a href="/Chanson/Details/@item.Chanson1.Album1.Id">  @item.Chanson1.Album1.Titre</a></h5>
                    </td>
                    <td>
                        <h5>@item.Date.ToString().Substring(0, 10)</h5>
                    </td>
                    <td>
                        <div id=@idString>
                            <button type="button" class="btn btn-default" onclick="ecouter(@compteur, @item.Chanson1.Id)">Ecouter</button>
                        </div>
                    </td>

                </tr>
            }

        }
    </table>
</div>



















<a id="lien" href="/Achat/" data-ajax-update="#id" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="hidden">Actualiser</a>


<script type="text/javascript">
    function ecouter(compteur, idM) {
        $('#lien').attr('data-ajax-update', '#divAudio' + compteur);
        $('#lien').attr('href', '/Achat/partialAudio?idChanson=' + idM);
        $('#lien').click();
    }
</script>