@model Diiezer2._0.Models.Commentaire

<div class="row">
    <div class="col-md-6">
        <p>@Model.Utilisateur</p>
    </div>
    <div class="col-md-6" style="text-align:right">
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="btn btn-default comment">@Model.Texte</p>
    </div>
</div>
<hr style="border:0px" />
